
{% extends 'base.html' %}


{% block content %}

<div class="max-w-lg mx-auto flex flex-wrap p-6">
    <div class="w-full bg-gray-600 p-4 rounded-xl">
        <h1 class="mb-6 text-2xl text-center text-white">
            Create Student Profile
        </h1>

        <form method="post" action="{% url 'create_student_profile' %}" class="space-y-3">
            {% csrf_token %}
            <div class="p-4">
                <label class="text-white">Student Name</label>
                <input type="text" name="name" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
            </div>
          
            <div class="p-4">
                <label class="text-white">Roll Number</label>
                <input type="text" name="roll_number" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
            </div>
            <div class="p-4">
                <label class="text-white">Mobile Number</label>
                <input type="text" name="mobile_number" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
            </div>
            <div class="p-4">
                <label class="text-white">Address</label>
                <input type="text" name="address" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
            </div>

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="p-6 bg-red-500 text-white rounded-xl m-2">
                            <p class="p-2">{{ error|escape }}</p>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="p-6 bg-red-500 text-white rounded-xl m-2">
                        <p class="p-2">{{ error|escape }}</p>
                    </div>
                {% endfor %}
            {% endif %}
           

            <div>
                <button class="py-4 rounded-xl px-6 ml-2 mb-2 text-white bg-green-500 hover:bg-green-700">Submit</button>
            </div>
            <div class="border-t pt-3">
                
                
            </div>
        </form>
    </div>
</div>

{% endblock %}





